@page
@model UBH.RazorPagesAPI.Pages.TestPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPage</title>
</head>
<body>
</body>
</html>
